

{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
{{ form_start(profilForm) }}
<div class="block-complet">
    <div class="block_profil">
        <div class="block_titre_profil">
            <h2>Mon Profil</h2>
        </div>
        <div class="hr_profil">
            <hr>
        </div>
        <div class="block_du_profil">
            <div class="gauche_profil">
                <div class="nom_photo_profil">
                    <img src="" alt="">
                    <p>{{ profilForm.Name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(profilForm) }}
{% endblock %}
