<footer>
	<div class='liens_footers'>
		<ul>
			<li><a href="">Accueil</a></li>
			<li><a href="">Blog</a></li>
			<li><a href="">Inscription</a></li>
			<li><a href="">Connexion</a></li>
			<li><a href="">Contactez-nous</a></li>
		</ul>
	</div>
	<div class='image_footer'>
		<div class='imagef'>
			<img src="{{asset('image/Blog-logo-noir-et-blanc.png')}}" alt="">
		</div>
		<div class="txt_central">
			<p>Fait par moi même !
				<br>Et je ne te dis pas comment j'en ai chié !
			</p>
		</div>
	</div>
	<div class='mentions_liste'>
        <ul>
            <li><a href="">Mentions légales</a></li>
            <li><a href="">Politiques de confidentialité</a></li>
        </ul>
    </div>


</footer>
