<nav>
	<div class="image_nav">
		<img src="{{asset('image/Blog-logo-couleur.png')}}" alt="">
	</div>
	<div class="liste">
		<ul class='liste_gauche'>
			<li>
				<a href="">Accueil</a>
			</li>
			<li>
				<a href="">Blog</a>
			</li>
			<li>
				<a href="">Catégories</a>
			</li>
		</ul>
		<ul class='liste_droite'>
			<li>
				<a href="">Inscription</a>
			</li>
			<li>
				<a href="">Connexion</a>
			</li>
			<li>
				<a href="">Profil</a>
			</li>
		</ul>
	</div>
</nav>
