/*Font

font-family: 'Urbanist', sans-serif;

*/

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 70vh;
    

}

/*!================================ HEADER ==========================================*/

nav{
    display: flex;
    width: 100vw;
    height: 10vh;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    
}

.image_nav{
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav img{
    height: 50px;
    width: auto;
}

.liste{
    background-color:  #841313;
    display: flex;
    width: 95vw;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 10px 15px black;
}

.liste ul{
    list-style: none;
    display: flex;
    gap: 20px;
    
}

.liste_gauche{
    margin-left: 20px;
}

.liste_droite{
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.liste_connected{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center ;
}

.liste ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}


/*!================================ FOOTER ==========================================*/

footer{
    height: 20vh; 
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Urbanist', sans-serif;
}

.imagef img{
    height: 70px;
    width: auto;
}

.imagef{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.txt_central{
    display: flex;
    text-align: center;
    margin-top: 20px;
}

.liens_footers ul{
    list-style: none;
    text-align: center;
    
}

.liens_footers ul li a{
    text-decoration: none;
    color: white;
    
}

.mentions_liste ul{
    list-style: none;
    text-align: center;
}

.mentions_liste ul li a{
    text-decoration: none;
    color: white;
}


/*!=================================PAGE ACCUEIL=====================================*/

.centre_accueil{
    background-color: white;
    width: 40%;
    height: 60%;
    color: black;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
    align-items: center;
    gap: 20px;
}

.centre_accueil h1{
    color:#841313;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 50px;
}

.txt_titre_accueil{
    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
    text-align: center;
}

.hr_accueil{
    width: 100%;
    display: flex;
    justify-content: center;
}

.hr_accueil hr{
    height: 4px;
    border: none;
    background-color:#841313 ;
    width: 80%;
}

.start_accueil{
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start_accueil p{
    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
    text-align: center;
}

.start_accueil a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Urbanist', sans-serif;

}




/*!===========================PAGE ARTICLE - SHOW====================================*/



.block-complet{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block-article{
    background-color: #841313;
    width: 80%;
    height: 80%;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
}

.titre-categorie{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 10%;
}

.titre-categorie h1{
    margin-left: 5%;
}

.titre-categorie p{
    margin-right: 5%;
}


.hr{
    display: flex;
    justify-content: center;
    
}
.hr hr{
    width: 90%;
    color: white;
    height: 5px;
    background-color: white;
    
}

.article{
    display: flex;
    height: 85%;
    align-items: center;
    justify-content: space-around;

}

.article hr{
    transform: rotate(180deg) ;
    color: white;
    height: 90%;
    background-color: white;
    width: 2px;
}

.block-text{
    width: 50%;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.block-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 49%;
}














/*!===========================PAGE INSCRIPTION====================================*/


.form_register{
    background-color: white;
    width: 40%;
    height: 80%;
    color: black;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
    align-items: center;
}

.hr_register{
    width: 80%;
}

.hr_register hr{
    height: 4px;
    border: none;
    background-color:#841313 ;
}

.titre_register{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titre_register h2{
    color:#841313;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 40px;

}

.form_block_register{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.inputs_register{
    height: 90%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*?===pseudo==*/

.pseudo_register{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 33%;
    font-family: 'Urbanist', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.input_register{
    background-color: #841313;
    border: none;
    width: 100%;
    height: 60px;
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
    box-shadow: 10px 10px 15px black;
}


/*?===email==*/

.email_register{
    display: flex;
    flex-direction: column;
    height: 33%;
    width: 80%;
    font-family: 'Urbanist', sans-serif;
    font-size: 30px;
    font-weight: 600;
}


/*?===mot de passe==*/

.mdp_register{
    display: flex;
    flex-direction: column;
    height: 33%;
    width: 80%;
    font-family: 'Urbanist', sans-serif;
    font-size: 30px;
    font-weight: 600;
}


.accept_btn_register{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.accept_register{
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 20px;
}

.input_agree{
    width: 30px;
    height: 30px;
    border-radius: 0%;
    border-color: solid black;
    border-style: none;

}

.bouton_register{
    display: flex;
    justify-content: end;
    width: 40%;
}

.btn_register{
    color: white;
    background-color: #841313;
    border-radius: 10px;
    border:none;
    height: 60px;
    font-family: 'Urbanist', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}


/*!===========================PAGE INSCRIPTION====================================*/

.form_login{
    background-color: white;
    width: 40%;
    height: 60%;
    color: black;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
    align-items: center;
}


.titre_login{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titre_login h2{
    color:#841313;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.hr_login{
    width: 80%;
}

.hr_login hr{
    height: 5px;
    border: none;
    background-color:#841313 ;
}

.mail_login{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 80%;
    font-family: 'Urbanist', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.mail_login input{
    background-color: #841313;
    border: none;
    width: 100%;
    height: 60px;
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
    box-shadow: 10px 10px 15px black;
}

.mdp_login{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 80%;
    font-family: 'Urbanist', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.mdp_login input{
    background-color: #841313;
    border: none;
    width: 100%;
    height: 60px;
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
    box-shadow: 10px 10px 15px black;
}

.oubli{
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
}

.oubli a{
    text-decoration: none;
    color: black;
}

.bouton_block_login{
    width: 40%;
    display: flex;
    justify-content: end;
}

.bouton_login{
    color: white;
    background-color: #841313;
    border-radius: 10px;
    border:none;
    height: 60px;
    font-family: 'Urbanist', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}




/*!===========================PAGE BLOG====================================*/

.block_blog{
    background-color: white;
    width: 70%;
    height: 80%;
    color: black;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
    align-items: center;
}

.titre_blog{
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.titre_blog h2{
    color:#841313;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 35px;
}

.hr_blog{
    width: 90%;
}

.hr_blog hr{
    height: 5px;
    border: none;
    background-color:#841313 ;
}

/*?partie Blog*/

.articles_blog{
    width: 100%;
    height: 90%;
    overflow-x: auto;
    font-family: 'Urbanist', sans-serif;
    scrollbar-color: #841313 white;
    
    
}

.block_article_blog{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    height: 30%;
}

.block_gauche_blog{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.titre_article_blog{
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.titre_article_blog h3{
    color: #841313;
    font-size: 20px;

}

.hr_article_blog hr{
    background-color: #841313;
    height: 2px;
    border: none;
    margin-top: 2px;
}


.info_article_blog{
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.categorie_article{
    color: #841313;
    font-weight: 600;
}

.titre_description{
    margin-left: 20px;
    height: 20%;
}

.titre_description h3{
    color: #841313;
    font-size: 20px;

}

.texte_description{
    margin-left: 20px;
    height: 40%;
    border: #841313 solid 1px;
}

.texte_description p{
    
    height: 20%;
}

.block_droit_blog{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

.bouton_voir_blog{
    text-decoration: none;
    color: white;
    background-color: #841313;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #841313 solid 2px;

}

.bouton_modifier_blog{
    text-decoration: none;
    color: #841313;
    background-color: white;
    border-radius: 5px;
    border: #841313 solid 2px;
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*!===========================PAGE MODIFIER - ARTICLE====================================*/

.block_complet_modifier{
    background-color: white;
    width: 70%;
    height: 80%;
    color: black;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
    align-items: center;
    font-family: 'Urbanist', sans-serif;
}

.titre_article_modif{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: flex-end;
    height: 10%;
}

.titre_article_modif h2{
    color: #841313;
    font-weight: 600;
    font-size: 30px;
}



.hr_modif_article{
    width: 90%;
}

.hr_modif_article hr{
    background-color: #841313;
    height: 5px;
    border: none;
    margin-top: 2px;
}

.choix_titre{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
    height: 15%;
}

.choix_titre h3{
    font-size: 25px;
    color: #841313;
}

.choix_titre hr{
    background-color: #841313;
    height: 2px;
    border: none;
    width: 70%;
}

.input_modif_titre_article{
    background-color: #f4a2a2;
    border: solid black 1px;
    margin-top: 2px;
    margin-left: 30%;
    width: 50%;
    height: 40px;
    font-size: 20px;
    color: white;
}

.choix_description{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
    height: 15%;
}

.choix_description h3{
    font-size: 25px;
    color: #841313;
}

.choix_description hr{
    background-color: #841313;
    height: 2px;
    border: none;
    width: 70%;
}

.input_modif_desciption_article{
    background-color: #f4a2a2;
    border: solid black 1px;
    margin-top: 2px;
    margin-left: 30%;
    width: 50%;
    height: 40px;
    font-size: 20px;
    color: white;
}

.choix_texte{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
    height: 35%;
}

.choix_texte h3{
    font-size: 25px;
    color: #841313;
}

.choix_texte hr{
    background-color: #841313;
    height: 2px;
    border: none;
    width: 70%;
}

.input_modif_texte_article{
    background-color: #f4a2a2;
    border: solid black 1px;
    margin-top: 2px;
    margin-left: 30%;
    width: 50%;
    height: 150px;
    font-size: 20px;
    color: white;
    text-align: justify;
    flex-wrap: wrap;
}

.choix_image{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
    height: 15%;
}

.choix_image h3{
    font-size: 25px;
    color: #841313;
}

.choix_image hr{
    background-color: #841313;
    height: 2px;
    border: none;
    width: 70%;
}

.block_choix_image{
    display: flex;
    width: 50%;
    gap: 20px;
    justify-content: center;
    margin-top: 5px;
    align-items: center;
}

.bouton_choix_image{
    width: 100px;
    height: 30px;
    background-color: #f4a2a2;
    border: none;
    border-radius: 10px;
}

.block_btn_sauvegarder{
    width: 70%;
    display: flex;
    justify-content: end;
}

.btn_save_article{
    color: white;
    background-color: #841313;
    border-radius: 10px;
    border:none;
    height: 60px;
    font-family: 'Urbanist', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}


/*!===========================PAGE PROFIL====================================*/

.block_profil{
    background-color: white;
    width: 70%;
    height: 80%;
    color: black;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
    align-items: center;
    font-family: 'Urbanist', sans-serif;
}

.block_titre_profil{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: flex-end;
    height: 10%;
}

.block_titre_profil h2{
    color: #841313;
    font-weight: 600;
    font-size: 30px;
}



.hr_profil{
    width: 90%;
}

.hr_profil hr{
    background-color: #841313;
    height: 5px;
    border: none;
    margin-top: 2px;
}

.block_du_profil{
    display: flex;
    width:95%;
    height: 90%;
}

.gauche_profil{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-around;
}

.nom_photo_profil{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
    align-items: center;
    height: 100%;
}

.hr_gauche_profil{
    height: 90%;
}

.hr_gauche_profil hr{
    rotate: 180deg;
    height: 100%;
    background-color: #841313;
    border: none;
    width: 3px;
}

.droite_profil{
    width: 60%;
    height: 100%;
}

.ajout_photo_profil{
    height: 40%;
}

.titre_ajout_photo_profil{
    height: 40%;
}

.titre_ajout_photo_profil h2{
    color: #841313;
}

.titre_ajout_photo_profil hr{
    width: 70%;
    background-color: #841313;
    border: none;
    height: 2px;
}

.ajout_photo_profil_div{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.ajout_photo_profil_div p{
    font-size: 20px;
}

.btn_parcourir_photo{
    height: 30px;
    width: 120px;
    background-color: #f4a2a2;
    border: none;
    border-radius: 7px;
}

.btn_modifier_photo{
    height: 30px;
    width: 120px;
    background-color: #f67272;
    border: none;
    border-radius: 7px;
}

.modifier_pseudo_profil{
    height: 30%;
}

.titre_modifier_pseudo_profil{
    height: 40%;
}

.titre_modifier_pseudo_profil h2{
    color: #841313;
}

.titre_modifier_pseudo_profil hr{
    width: 70%;
    background-color: #841313;
    border: none;
    height: 2px;
}

.block_modifier_pseudo{
    display: flex ;
    gap: 20px;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.block_modifier_pseudo p{
    font-size: 20px;

}

.block_modifier_pseudo input{
    height: 40px;
    width: 40%;
    background-color: #841313;
    color: white;
    font-size: 20px;
}

.block_modifier_pseudo button{
    height: 30px;
    width: 120px;
    background-color: #f67272;
    border: none;
    border-radius: 7px;
}