{{ form_start(form) }}
    <div>
        <h2>Création d'une catégorie</h2>
            {{ form_widget(form.Categorie,{'attr':{'class':'input_modif_choix_categorie'}}) }}

    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
