{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}

    {{ include('article/_form.modifier.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('article_index') }}">retourner à la page de blog</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
